<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="scss/style.scss">
  </head>
  <body>
    <header class="shadow">
      <div class="bg-blue-dark">
        <div class="container">
          <nav class="nav nav-top bg-orange">
            <a href="http://" class="nav-link">Partners</a>
            <a href="http://" class="nav-link">Banking Enterprises</a>
            <a href="http://" class="nav-link">Waiting List</a>
            <a href="http://" class="nav-link">Case Studies</a>
            <a href="mailto:welcome@paymobtech.com" class="nav-link ms-auto">welcome@paymobtech.com</a>
          </nav>
        </div>
      </div>
      <div class="navbar navbar-expand-md bg-primary">
        <div class="container d-flex justify-content-between`">
          <a class="navbar-brand" href="#">
            <img src="images/paymob-white.png" class="img-fluid" alt="Paymob logo">
          </a>
          <nav class="nav nav-top align-items-center">
            <a href="#" class="nav-link">Contact</a>
            <a href="#" class="nav-link">Help & Support</a>
            <form class="form-search d-flex">
              <div class="input-group border border-light rounded-pill">
                <input class="form-control border-0 rounded-pill" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                <button class="btn btn-outline-light border-0 rounded-pill" type="button" id="button-search">O</button>
              </div>
            </form>
          </nav>
        </div>
        
      </div>
      <div class="bg-white">
        <div class="container">
          <ul class="nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="about.ejs" class="nav-link">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Industry Sectors
              </a>
              <ul class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item nav-link" href="#">Point of Sale</a></li>
                <li><a class="dropdown-item nav-link" href="#">Small Business</a></li>
                <li><a class="dropdown-item nav-link" href="#">Retail</a></li>
                <li><a class="dropdown-item nav-link" href="#">Taxis and Deliveries </a></li>
                <li><a class="dropdown-item nav-link" href="#">Restaurants and Takeaway</a></li>
                <li><a class="dropdown-item nav-link" href="#">Hair and Beauty Salons</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Point of Sale</a></li>
                <li><a class="dropdown-item" href="#">Small Business</a></li>
                <li><a class="dropdown-item" href="#">Retail</a></li>
                <li><a class="dropdown-item" href="#">Taxis and Deliveries </a></li>
                <li><a class="dropdown-item" href="#">Restaurants and Takeaway</a></li>
                <li><a class="dropdown-item" href="#">Hair and Beauty Salons</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </header>