.nav {
  &-top {
    .nav-link {
      color: white;
      padding: 0.8125rem 0.75rem;
      font-size: map-get($font-sizes, xs );
      &:hover {
        color: rgba(255, 255, 255, 0.795);
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.nav-item:first-child  {
  .nav-link {
    padding-left: 0;
  }
}