<%- include('includes/header.ejs') %>

<section class="page-banner">
  <div class="d-flex flex-column flex-lg-row-reverse justify-content-between">
    <div class="col-lg-6 d-flex justify-content-end z-index-negative">
      <img src="images/buyer-seller.png" class="img-fluid">
    </div>
    <div class="container-lg-1 m-0 p-0"></div>
    <div class="container container-lg-5 my-5 my-lg-14 me-lg-0 d-flex align-items-center">
      <div>
        <h1>
          About Paymob
        </h1>
        <p class="text-accent fs-md fw-bold">Paymob provide cashless payment solutions for businesses </p>
        <p>
          Paymob makes it easy for businesses to accept cashless payments quickly and securely in store, over the phone,
          or on the move anywhere in the world.
        </p>
        <p>
          Founded in 2011, we specialise in electronic payment services, bank processing systems, mobile devices and
          payment terminals and develop innovative, market-leading products that meet all international security
          standards.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="page-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-1 mb-5">
        <h2>
          Discover our innovative new Tap to Phone technology
        </h2>
        <p>
          In today’s convenience-driven society customers want more fast and efficient ways of paying for goods and
          services. Whether you are just starting out or looking to grow your business we can help you attract new
          customers and retain existing ones by providing an ultra-smart, streamlined contactless payment system. Our
          innovative Tap to Phone contactless payment app, ideal for use on any android smartphone.
        </p>
        <button class="btn btn-accent">
          learn more
        </button>
      </div>
      <div class="col-lg-6 order-lg-0">
        <img src="images/package-delivery.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <h2>
          How Can Paymob help your business?
        </h2>
        <p>
          We provide multi-faceted contactless payment solutions to businesses all over the globe. Businesses that vary
          in shape and size but share the goal of secure, fast and convenient payment facilities that allow them to take
          payments on the go anywhere and at any time.
        </p>
        <p>
          From retailers and restaurants through to mobile hairdressers and taxi firms we can provide the smartest
          payment technology to help grow your business. See how your business can benefit.
        </p>
        <button class="btn btn-accent">
          learn more
        </button>
      </div>
      <div class="col-lg-6 text-lg-end">
        <img src="images/vector.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <h2 class="text-center mb-lg-22">
      Why choose Paymob?
    </h2>
    <div>
      <ul class="list-description row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <li>
          <dl>
            <dt>Easy to register</dt>
            <dd>Quick and simple sign-up process</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Easy to register</dt>
            <dd>Quick and simple sign-up process</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Easy to register</dt>
            <dd>Quick and simple sign-up process</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Easy to register</dt>
            <dd>Quick and simple sign-up process</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Easy to register</dt>
            <dd>Quick and simple sign-up process</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="text-center">
      <button class="btn btn-accent">
        create free paymob account
      </button>
    </div>
  </div>
</section>
<section class="page-section bg-light">
  <div class="container">
    <div class="row align-items-center mb-10">
      <div class="col-md-4">
        <img src="/images/vector.png" class="img-fluid mb-5" alt="">
      </div>
      <div class="col-md offset-lg-1">
        <h2>
          Security
        </h2>
        <p>
          We are authorised by the Financial Conduct Authority (FCA) and use state-of-the-art technology that monitors
          and prevents any malicious or fraudulent behaviour. With Paymob, you can be assured your funds are in safe
          hands.
        </p>
      </div>
    </div>
    <div class="row align-items-center mb-10">
      <div class="col-md-4">
        <img src="/images/vector.png" class="img-fluid mb-5" alt="">
      </div>
      <div class="col-md offset-lg-1">
        <h2>
          Certification
        </h2>
        <p>
          We are approved by Visa and MasterCard and meet the requirements of the Payment Card Industry Data Security
          Standard for card data processing. All confidential information is protected by VeriSign Extended. </p>
      </div>
    </div>
    <div class="row align-items-center mb-10">
      <div class="col-md-4">
        <img src="/images/vector.png" class="img-fluid mb-5" alt="">
      </div>
      <div class="col-md offset-lg-1">
        <h2>
          Encryption
        </h2>
        <p>
          All data received and stored by Paymob via the Tap to Phone app is encrypted. In case of the loss or theft of
          your mobile phone, all your details and money will be completely safe. Our clients can be sure that their card
          details will not fall into the wrong hands.
        </p>
        <p>
          Our mobile terminals are as secure as a classic bank terminal. For your security, each terminal has an
          individual key. The same account cannot be used on different phones.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container page-section">
  <h2 class="mb-lg-14 text-start text-lg-center">
    Read our latest news
  </h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div>
      <div class="card mb-4">
        <img src="images/image.png" alt="" class="card-img-top">
        <div class="card-body">
          <h3 class="article-title fs-4">
            <a href="#" class="stretched-link">
              Smart On-Land Payment Infrastructure
            </a>
          </h3>
          <div class="card-text">
            <div class="d-flex align-items-center">
              <img src="images/vector.png" class="article-author-thumb-md">
              <div class="fs-sm ms-4">
                <div class="fw-bold">John Smith</div>
                <div class="text-accent">
                  Feb 18 2021
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card mb-4">
        <img src="images/image.png" alt="" class="card-img-top">
        <div class="card-body">
          <h3 class="article-title fs-4">
            <a href="#" class="stretched-link">
              Smart On-Land Payment Infrastructure
            </a>
          </h3>
          <div class="card-text">
            <div class="d-flex align-items-center">
              <img src="images/vector.png" class="article-author-thumb-md">
              <div class="fs-sm ms-4">
                <div class="fw-bold">John Smith</div>
                <div class="text-accent">
                  Feb 18 2021
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card mb-4">
        <img src="images/image.png" alt="" class="card-img-top">
        <div class="card-body">
          <h3 class="article-title fs-4">
            <a href="#" class="stretched-link">
              Smart On-Land Payment Infrastructure
            </a>
          </h3>
          <div class="card-text">
            <div class="d-flex align-items-center">
              <img src="images/vector.png" class="article-author-thumb-md">
              <div class="fs-sm ms-4">
                <div class="fw-bold">John Smith</div>
                <div class="text-accent">
                  Feb 18 2021
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5 pt-lg-14 text-center">
    <a href="#" class="btn btn-accent">view blog</a>
  </div>
</section>
<%- include('includes/footer.ejs') %>