<%- include('includes/header.ejs') %>
  

<footer class="bg-primary py-8 py-lg-11">
  <div class="container">
    <div class="d-flex">
      <div class="">
        <div class="mb-17">
          <img src="/images/paymob-techstars.png" alt="" class="img-fluid">
        </div>
        <div class="fs-tiny text-white lh-lg w-77ch">
          "Paymob" is a trading name of PAYMOB TECHNOLOGY LTD, an entity incorporated and registered under the law of England and Wales at the following address: 71-75 Shelton Street, Covent Garden, London, England, WC2H 9JQ, Company registration number 11965837. "Paymob" is authorised by the Financial Conduct Authority (FCA) in the UK under The Payment Services Regulations 2017 for issuing and/or acquiring of payment instruments (FRN: 917808).

        </div>
      </div>
      <div class="footer-widgets ms-auto">
        <div class="footer-widget">
          <h2 class="footer-widget-header">Industry sectors</h2>
          <nav class="nav footer-widget-menu flex-column">
            <a href="#" class="nav-link">Point of Sale</a>
            <a href="#" class="nav-link">Small Business
            </a>
            <a href="#" class="nav-link">Taxis and Deliveries </a>
            <a href="#" class="nav-link">Restaurants and Takeaway</a>
            <a href="#" class="nav-link">Hair and Beauty Salons</a>
          </nav>
        </div>
        <div class="footer-widget">
          <h2 class="footer-widget-header">Solutions</h2>
          <nav class="nav footer-widget-menu flex-column">
            <a href="#" class="nav-link">Point of Sale</a>
            <a href="#" class="nav-link">Small Business
            </a>
            <a href="#" class="nav-link">Taxis and Deliveries </a>
            <a href="#" class="nav-link">Restaurants and Takeaway</a>
            <a href="#" class="nav-link">Hair and Beauty Salons</a>
          </nav>
        </div>
        <div class="footer-widget">
          <h2 class="footer-widget-header">company</h2>
          <nav class="nav footer-widget-menu flex-column">
            <a href="#" class="nav-link">Point of Sale</a>
            <a href="#" class="nav-link">Small Business
            </a>
            <a href="#" class="nav-link">Taxis and Deliveries </a>
            <a href="#" class="nav-link">Restaurants and Takeaway</a>
            <a href="#" class="nav-link">Hair and Beauty Salons</a>
          </nav>
        </div>
        <div class="footer-widget">
          <h2 class="footer-widget-header">company</h2>
          <nav class="nav footer-widget-menu flex-column">
            <a href="#" class="nav-link">Point of Sale</a>
            <a href="#" class="nav-link">Small Business
            </a>
            <a href="#" class="nav-link">Taxis and Deliveries </a>
            <a href="#" class="nav-link">Restaurants and Takeaway</a>
            <a href="#" class="nav-link">Hair and Beauty Salons</a>
          </nav>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</footer>
<%- include('includes/footer.ejs') %>
  