<%- include('includes/header.ejs') %>
<main>
  <section>
    <div class="d-flex flex-column flex-lg-row-reverse justify-content-between">
      <div class="col-lg-6 d-flex justify-content-end z-index-negative">
        <img src="images/tap-to-phone.png" class="img-fluid">
      </div>
      <div class="container-lg-1 m-0 p-0"></div>
      <div class="container container-lg-5 my-5 my-lg-14 me-lg-0 d-flex align-items-center">
        <div>
          <h1>
            SoftPOS Tap to Phone Payments
          </h1>
          <p class="text-accent fs-md fw-bold">Smart Soft POS solutions — PayMob</p>
          <p>
            Smartphones can act as a contactless POS terminal for merchants, without the need for additional hardware.
            The Paymob mobile App turns smartphones into payment terminals.
          </p>
          <p>
            Whether consumers use a contactless card, smartphone, or wearable device, "Tap to Phone" Soft POS provides
            merchants the flexibility of mobile contactless payment acceptance.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container page-section">
    <div class="row">
      <h2 class="col-lg-5 mb-lg-29">
        Accept payments as easy as 1-2-3
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <h3 class="h4"><span class="badge bg-accent">1</span></h3>
        <figure>
          <img src="./images/payment-step-1.png" alt="" class="img-fluid mb-6 mb-lg-8">
          <figcaption>
            Merchant asks to make a contactless with a: Contactless credit, debit, or prepaid chip card with the
            Contactless Indicator icon. Smartphone orwearable device with NFC mobile payment capability enabled
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3">
        <h3 class="h4"><span class="badge bg-accent">2</span></h3>
        <figure>
          <img src="./images/payment-step-2.png" alt="" class="img-fluid mb-6 mb-lg-8">
          <figcaption>
            Tap the card, smartphone or wearable device to the NFC reader's field of the mPOS device
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3">
        <h3 class="h4"><span class="badge bg-accent">3</span></h3>
        <figure>
          <img src="./images/payment-step-3.png" alt="" class="img-fluid mb-6 mb-lg-8">
          <figcaption>
            When payment is authorised, sounds and haptic are played
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="bg-navy page-section">
    <div class="container">
      <div class="mb-4 mb-lg-22 row justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-accent text-center">
            Examples of Common Contacless Payment Points
          </h2>
          <p class="text-light text-center">
            As the use of contactless and alternative transaction methods is growing, in the future it will be possible
            for certain groups of merchants to refuse completely from the terminals of individual mobile devices and
            assign functions to read contactless cards to mobile devices. Currently suitable for Visa and Mastercard
            across the UK and Europe. 
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="col">
          <div class="btn rounded-3 bg-blue-light-1 ratio ratio-1x1">
            <div class="d-flex align-items-center justify-content-center">
              <figure>
                <img src="./images/example-store.png" alt="" class="mb-4">
                <figcaption class="text-white fs-5 fw-bold">
                  Store
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section class="container page-section">
    <div class="mb-4 mb-lg-22 row position-relative">
      <div class="col-lg-6 position-lg-absolute">
        <h2>
          How does transaction flow work?
        </h2>
        <p class="w-md-75">
          Interoperable Acceptance via Terminals- Mobile phone will send he transaction to acquirer's back-end which in
          turn route the transaction to the network based on the card.
        </p>
      </div>
      <div class="col-lg-9 offset-lg-3">
        <img src="./images/transaction-flow.png" alt="" class="img-fluid">
      </div>
  </section>
  <section class="container-fluid bg-blue-light-1 page-section">
    <h2 class="fs-lg text-white text-center">
      Paymob Mobile App
    </h2>
    <p class="fs-2md text-white text-center">
      Demo video by Paymob
    </p>
    <div class="embed mb-3">

    </div>
    <div class="text-center">
      <button class="btn btn-accent">Request Demo</button>
    </div>
  </section>
  <section class="container page-section">
    <h2 class="w-lg-50">
      Contact your acquirer with more questions
    </h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion accordion-flush accordion-faqs" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Why TAP on Phone?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Tap on Phone is quick, simple and secure. It’s an ideal payment method for customers when they need to pay and go. As a merchant, you can transform any enabled mobile device into a payment terminal.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </section>
</main>
<%- include('includes/footer.ejs') %>